<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Search</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
        <div id="wrapper">
            <header>
                <a href="timeline.html"><img src="img/logo-small.png" class="header_img"></img></a>
                <form>
                   	<select name="search_kind">
                    	<option value="01">All</option>
                        <option value="02">Film</option>
                        <option value="03">People</option>
                    </select>
                	<input type="text" name="login" value="" placeholder="Username or Email" class="header_input">
                    <input type="submit" name="commit" value=" " class="header_button">
                </form>
				<a href=""><img src="img/exit.png" class="right_img header_img"></img></a>
                <a href=""><img src="img/setting.png" class="right_img header_img"></img></a>
				<a href="userprofile.html"><img src="img/user.png" class="right_img header_img"></img></a>
				<a href=""><img src="img/notif.png" class="right_img header_img"></img></a>
            </header>
            <div id="extraDiv"></div>
            <div>		
                <aside>
                    <h1> Suggested Movies </h1>
                    <hr>
                    <div class="suggested_movie">
                        <a href=""><img src="img/int.png" title="Interstellar" class="left_img suggested_movie_img"></img></a>
                        <a href=""><h2>Interstellar</h2></a>
                        <img src="img/rate_10.png"></img>
                        <a href="" class="suggested_movie_imdb"><img src="img/IMDB.png"></img></a>
                    </div>
                    <hr>
                    <div class="suggested_movie">
                        <a href=""><img src="img/inc.png" title="Inception" class="left_img suggested_movie_img"></img></a>
                        <a href=""><h2>Inception</h2></a>
                        <img src="img/rate_08.png"></img>
                        <a href=""><img src="img/IMDB.png"></img></a>
                    </div>
                    <hr>
                    <div class="suggested_movie">
                        <a href=""><img src="img/btd.png" title="The Dark Knigt" class="left_img suggested_movie_img"></img></a>
                        <a href=""><h2>The Dark Knigt</h2></a>
                        <img src="img/rate_09.png"></img>
                        <a href=""><img src="img/IMDB.png"></img></a>
                    </div>
    <!-- 				<hr>
                    <div class="suggested_movie">
                        <a href="{{movie_profile}}"><img src="{{movie_img}}" title="{{movie_name}}" class="left_img suggested_movie_img"></img></a>
                        <a href="{{movie_profile}}"><h2>{{movie_name}}<h2></a>
                        <img src="{{rate_img}}"></img>
                        <a href="{{imdb_link}}"><img src="img/IMDB.png"></img></a>
                    </div> -->
                    <hr>
                    <h1> Suggested People </h1>
                    <hr>
                    <div class="suggested_people">
                        <a href="" title="Navid Mashayekhi"><img src="img/user.png" class="left_img"></img></a>
                        <a href=""><h2>Navid Mashayekhi</h2></a>
                        <h6>followers:0 following:0</h6>
                    </div>
                    <hr>
                    <div class="suggested_people">
                        <a href="" title="Hesam Rahnama"><img src="img/user.png" class="left_img"></img></a>
                        <a href=""><h2>Hesam Rahnama</h2></a>
                        <h6>followers:0 following:0</h6>
                    </div>
    <!-- 				<hr>
                    <div class="suggested_people">
                        <a href="{{user_profile}}" title="{{Username}}"><img src="{{User_img}}" class="left_img"></img></a>
                        <a href="{{user_profile}}"><h2>{{Username}}<h2></a>
                        <h6>followers:{{user_followers_number}} following:{{user_following_number}}</h6>
                    </div> -->
                </aside>
                <div id="postsWrapper">
                        <div id="searchTabs"> 
                            <div id="userTab"> Users</div>
                            <div id="movieTab"> Movies </div>
                        </div>
                    <div class="post">
                        <div id="movieResult"> 
                            <div class="suggested_movie">
                                <a href=""><img src="img/int.png" title="Interstellar" class="left_img suggested_movie_img"></img></a>
                                <a href=""><h2>Interstellar</h2></a>
                                <img src="img/rate_10.png"></img>
                                <a href="" class="suggested_movie_imdb"><img src="img/IMDB.png" class="imdb_img"></img></a>
                            </div>
                            <hr>
                            <div class="suggested_movie">
                                <a href=""><img src="img/btd.png" title="The Dark Knigt" class="left_img suggested_movie_img"></img></a>
                                <a href=""><h2>The Dark Knigt</h2></a>
                                <img src="img/rate_09.png"></img>
                                <a href=""><img src="img/IMDB.png" class="imdb_img"></img></a>
                            </div>
                            <hr>
                        </div>
                        <div id="usersResult">
                            <div class="post_header">
                                    <a href=""><img src="img/user.png" title="Hesam Rahnama" class="left_img"></img></a>
                                    <p>Hesam Rahnama <input type="submit" name="commit" value="follow/unfollow" class="ff_button"></p>
                                    <h5>following:0</h5> <h5>followers:0</h5>
                            </div>
                            <hr>
                            <div class="post_header">
                                    <a href=""><img src="img/user.png" title="Hesam Rahnama" class="left_img"></img></a>
                                    <p>Navid Mashayekhi <input type="submit" name="commit" value="follow/unfollow" class="ff_button"></p>
                                    <h5>following:0</h5> <h5>followers:0</h5>
                            </div>
                            <hr>
                            <div class="post_header">
                                    <a href=""><img src="img/user.png" title="Hesam Rahnama" class="left_img"></img></a>
                                    <p>GG WP <input type="submit" name="commit" value="follow/unfollow" class="ff_button"></p>
                                    <h5>following:0</h5> <h5>followers:0</h5>
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
        </div>
        <script src="js/jquery-2.1.3.min.js"></script>
        <script src="js/setAsidePosition.js"></script>
        <script src="js/addCommentToPosts.js"></script>
        <script src="js/searchPage.js"></script>
	</body>
</html>