<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<title>User Profile</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
        <div id="wrapper">
            <header>
                <a href="timeline.html"><img src="img/logo-small.png" class="header_img"></img></a>
                <form>
                   	<select name="search_kind">
                    	<option value="01">All</option>
                        <option value="02">Film</option>
                        <option value="03">People</option>
                    </select>
                	<input type="text" name="login" value="" placeholder="Username or Email" class="header_input">
                    <input type="submit" name="commit" value=" " class="header_button">
                </form>
				<a href=""><img src="img/exit.png" class="right_img header_img"></img></a>
                <a href=""><img src="img/setting.png" class="right_img header_img"></img></a>
				<a href="userprofile.html"><img src="img/user.png" class="right_img header_img"></img></a>
				<a href=""><img src="img/notif.png" class="right_img header_img"></img></a>
            </header>
            <div id="extraDiv"></div>
            <div>		
                <aside>
                    <h1> Suggested Movies </h1>
                    <hr>
                    <div class="suggested_movie">
                        <a href=""><img src="img/int.png" title="Interstellar" class="left_img suggested_movie_img"></img></a>
                        <a href=""><h2>Interstellar</h2></a>
                        <img src="img/rate_10.png"></img>
                        <a href="" class="suggested_movie_imdb"><img src="img/IMDB.png"></img></a>
                    </div>
                    <hr>
                    <div class="suggested_movie">
                        <a href=""><img src="img/inc.png" title="Inception" class="left_img suggested_movie_img"></img></a>
                        <a href=""><h2>Inception</h2></a>
                        <img src="img/rate_08.png"></img>
                        <a href=""><img src="img/IMDB.png"></img></a>
                    </div>
                    <hr>
                    <div class="suggested_movie">
                        <a href=""><img src="img/btd.png" title="The Dark Knigt" class="left_img suggested_movie_img"></img></a>
                        <a href=""><h2>The Dark Knigt</h2></a>
                        <img src="img/rate_09.png"></img>
                        <a href=""><img src="img/IMDB.png"></img></a>
                    </div>
    <!-- 				<hr>
                    <div class="suggested_movie">
                        <a href="{{movie_profile}}"><img src="{{movie_img}}" title="{{movie_name}}" class="left_img suggested_movie_img"></img></a>
                        <a href="{{movie_profile}}"><h2>{{movie_name}}<h2></a>
                        <img src="{{rate_img}}"></img>
                        <a href="{{imdb_link}}"><img src="img/IMDB.png"></img></a>
                    </div> -->
                    <hr>
                    <h1> Suggested People </h1>
                    <hr>
                    <div class="suggested_people">
                        <a href="" title="Navid Mashayekhi"><img src="img/user.png" class="left_img"></img></a>
                        <a href=""><h2>Navid Mashayekhi</h2></a>
                        <h6>followers:0 following:0</h6>
                    </div>
                </aside>
                <div id="postsWrapper">
                    <div class="post">
                        <div class="post_header">
                            <a href=""><img src="img/user.png" title="Hesam Rahnama" class="left_img"></img></a>
                            <p>Hesam Rahnama <input type="submit" name="commit" value="follow/unfollow" class="ff_button"></p>
                            <h5>following:0</h5> <h5>followers:0</h5>
                        </div>
                    </div>
                    <div class="post_in_profile">
                        <div class="post_header">
                            <a href=""><img src="img/user.png" title="Navid Mashayekhi" class="left_img"></img></a>
                            <p>Hesam Rahnama</p>
                            <a href="" class="post_time">10:20 20/Apr/2015</a>
                        </div>
                        <hr>
                        <div class="post_body">
                            <a href="" title="Interstellar"><img src="img/inc.png" class="right_img"></img></a>
                            <a href="" class="inline_block"><h1>Inception</h1></a>
                            <img src="img/rate_08.png" class="rate_img"></img>
                            <div class="post_content">
                                <p>
                                    A thief who steals corporate secrets through use of dream-sharing technology is given the inverse task of planting an idea into the mind of a CEO.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="post_comments">
                            <div class="post_comment_div">
                                <a href="" title="Navid Mashayekhi"><img src="img/user.png" class="left_img post_cm_img"></img></a>
                                <p>Hi. This is my comment on this post. i want to see this as an opportunity to tell you that i love this site </p>
                            </div>
                            <hr>
                            <div class="post_comment_div">
                                <a href="" title="Hesam Rahnama"><img src="img/user.png" class="left_img post_cm_img"></img></a>
                                <p>Hello. This is my comment on this post. i want to see this as an opportunity to tell you that i love this site </p>
                            </div>
                            <hr>
                            <div class="post_comment_div">
                                <a href="" title="Hesam Rahnama"><img src="img/user.png" class="left_img post_cm_img"></img></a>
                                <p>Hello. This is my comment on this post. i want to see this as an opportunity to tell you that i love this site </p>
                            </div>
                        </div>
                        <div class="post_incm">
                            <a href="" title="Navid Mashayekhi"><img src="img/user.png" class="left_img"></img></a>
                            <form>
                                <input type="text" name="comment" value="" placeholder="Comment" class="cm_input">
                                <input type="submit" name="commit" value=" " class="cm_button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			<footer> &copy 2015 </footer>
        </div>
		<script src="js/jquery-2.1.3.min.js"></script>
        <script src="js/setAsidePosition.js"></script>
	</body>
</html>