{% extends 'Header_Aside_Template.html' %}
{% load static %}

{% block posts %}
    <div class="post">
        <div class="post_header">
            <a href="{% url 'showProfile' %}/{{ user.id }}"><img src="{{ user.profilePicture }}" title="{{ user.user.username }}" class="left_img"></a>
            <p>
                <a href="{% url 'showProfile' %}/{{ user.id }}"> {{ user.user.username }} </a>

                {% if not isThisUser %}
                    <input type="submit" name="commit" value="follow/unfollow" class="ff_button">
                {% endif %}

            </p>
            <h5> <a href=""> following: {{ user.followerUsers.all|length }} </a> </h5>
            <h5> <a href=""> followers: {{ user.followerUsers.all|length }} </a> </h5>
        </div>
    </div>

    {% for post in user.post_set.all reversed%}
        <div class="post_in_profile">
            <div class="post_header">
                <a href="{% url 'showProfile' %}/{{ user.id }}"><img src="{{ user.profilePicture }}" title="{{ user.user.username }}" class="left_img"></a>
                <p> <a href="{% url 'showProfile' %}/{{ user.id }}"> {{ user.user.username }} </a> </p>
                <a href="{% url 'showPost' %}/{{ post.user.id }}/{{ post.id }}" class="post_time"> {{ post.pubDate }} </a>
            </div>
            <hr>
            <div class="post_body">
                <a href="" title="{{ post.film.name }}"><img src="{{ post.film.picture.url }}" class="right_img"></a>
                <a href="" class="inline_block"><h1> {{ post.film.name }} </h1></a>
                <img src="{% static 'img/rate_10.png' %}" class="rate_img">
                <div class="post_content">
                    <p>
                        {{ post.body }}
                    </p>
                </div>
            </div>
            <hr>
            <div>
                <img src="{% static 'img/like.png' %}">
                <span> {{ post.likeUsers.all|length }} </span>
                <img src="{% static 'img/cm2.png' %}">
                <span> {{ post.comment_set.all|length }} </span>
            </div>
            <hr>


            <div class="post_comments">
                {% for cm in post.comment_set.all %}
                    <div class="post_comment_div">
                        <a href="" title="{{ cm.user.user.username }}"><img src="{{ cm.user.profilePicture }}" class="left_img post_cm_img"></a>
                        <p> {{ cm.user.user.username }} </p>
                        <p>
                            {{ cm.body }}
                        </p>
                    </div>
                    <hr>
                {% endfor %}
            </div>

            <div class="post_incm">
                <a href="" title="{{ user.user.username }}"><img src="{{ user.profilePicture }}" class="left_img"></a>
                    <form>
                        <input type="text" name="comment" value="" placeholder="Comment" class="cm_input">
                        <input type="submit" name="commit" value=" " class="cm_button">
                    </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}
