{% extends 'Base_template_2.html' %}
{% load static %}

{% block extraCSS %} <link rel="stylesheet" type="text/css" href="{% static 'css/films_tooltip.css' %}"> {% endblock %}

{% block userHeaderProfile %}
    <div class="post">
        <div class="post_header">
            <a href="{% url 'showProfile' %}/{{ user.id }}"><img src="{{ user.profilePicture.url }}"
                                                                 title="{{ user.user.username }}" class="left_img profile_img"></a>
            <p>
                <a href="{% url 'showProfile' %}/{{ user.id }}"> {{ user.user.username }} </a>

                {% if not isThisUser %}
                    <input type="submit" name="commit" value="follow/unfollow" class="ff_button">
                {% endif %}

            </p>
            <h5> <a href=""> following: {{ user.followerUsers.all|length }} </a> </h5>
            <h5> <a href=""> followers: {{ user.followerUsers.all|length }} </a> </h5>
        </div>
    </div>
{% endblock %}

{% block typeOfPost %} <div class="post_in_profile"> {% endblock %}
{% block endTypeOfPost %} </div> {% endblock %}
